<?xml version="1.0"?>

<launch>
    
    <!-- <env name="GAZEBO_PLUGIN_PATH" value="$(find actor_plugin_social)/lib:$(optenv GAZEBO_PLUGIN_PATH)"/> -->
    
    <env name="GAZEBO_PLUGIN_PATH" value="$(find actor_plugin_social)/lib:$(find social_force_vis)/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>
    
    <!-- ====================== default values for parameters ================================== -->
    <arg name="world_file"  default="$(find actor_sim_utils)/worlds/custom1.world"/>
    <arg name="gui" default="true"/>
    <arg name="rviz" default="true"/>

    <!-- ========================= start Gazebo Server ========================================= -->
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen"
        args="$(arg world_file)" />

    <!-- =============================== start rViz ============================================ -->
    <group if="$(arg rviz)">
    	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find social_force_vis)/rviz/debug2_group.rviz"/>
    </group>
    
    <!-- ========================= start Gazebo Client ========================================= -->
    <group if="$(arg gui)">
        <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" args="--verbose" respawn="false" output="screen"/>
    </group>

    <rosparam file="$(find actor_sim_utils)/config/actor_param.yaml" command="load" ns="/gazebo/actor_plugin_ros_interface/actor"/>
    <rosparam file="$(find actor_sim_utils)/config/sfm_param.yaml"   command="load" ns="/gazebo/actor_plugin_ros_interface/sfm"/>

</launch>
