<?xml version="1.0"?>

<launch>
    
    <!-- <env name="GAZEBO_PLUGIN_PATH" value="$(find actor_plugin_social)/lib:$(optenv GAZEBO_PLUGIN_PATH)"/> -->
    
    <env name="GAZEBO_PLUGIN_PATH" value="$(find actor_plugin_social)/lib:$(find social_force_vis)/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>
    
    <!-- ====================== default values for parameters ================================== -->
    <arg name="world"       default="cafe_example"/>
    <arg name="world_file"  default="$(find actor_sim_utils)/worlds/$(arg world).world"/>
    <arg name="map_file"    default="$(find actor_sim_utils)/maps/$(arg world).yaml"/>
    <arg name="gui"         default="true"/>
    <arg name="rviz"        default="true"/>

    <arg name="actor_params_ns" default="/gazebo/actor_plugin_ros_interface/actor"/>
    <arg name="sfm_params_ns"   default="/gazebo/actor_plugin_ros_interface/sfm"/>

    <!-- ========================= launch world (Gazebo server and GUI) ========================================= -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="true"/>
    </include>

    <!-- =============================== start rViz ============================================ -->
    <group if="$(arg rviz)">
    	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find social_force_vis)/rviz/debug3_group.rviz"/>
    </group>

	<!-- ========================= load parameters ========================================= -->
    <rosparam file="$(find actor_sim_utils)/config/actor_param.yaml" command="load" ns="$(arg actor_params_ns)"/>
    <rosparam file="$(find actor_sim_utils)/config/sfm_param.yaml"   command="load" ns="$(arg sfm_params_ns)"/>

    <!-- ============================== load map =========================================== -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
    
    <!-- ========================= change parameters based on chosen world ================= -->
    <!-- inflation/bounding_type -> Box - 0, Circle - 1, Ellipse - 2, NoBounding - 3 -->

    <group if="$(eval world == 'living_room_vid_friendly')">
    	<!-- Ellipse
    	<rosparam param="$(arg actor_params_ns)/inflation/bounding_type">2</rosparam>
    	<rosparam param="$(arg actor_params_ns)/inflation/ellipse">[{semi_major: 1.9, semi_minor: 1.2, offset_x: 0.35, offset_y: 0.0}]</rosparam>
    	-->
    	<!-- Circle -->
    	<rosparam param="$(arg actor_params_ns)/inflation/bounding_type">1</rosparam>
    	<rosparam param="$(arg actor_params_ns)/inflation/circle_radius">0.8</rosparam>
		
		<!-- Box 
		<rosparam param="$(arg actor_params_ns)/inflation/bounding_type">0</rosparam>
    	<rosparam param="$(arg actor_params_ns)/inflation/box_size">[{x_half: 0.65, y_half: 0.65, z_half: 1.00}]</rosparam>
    	-->
        <rosparam param="$(arg actor_params_ns)/general/world_bound_x">[+6.25, -3.50]</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/world_bound_y">[-4.50, +4.50]</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/limit_actors_workspace">false</rosparam>

        <rosparam param="$(arg sfm_params_ns)/world_dictionary/ignored_models">[ground_plane, sun, figurine_3, clock_digital, lamp_table_metal]</rosparam>
        <rosparam param="$(arg sfm_params_ns)/algorithm/internal_force_factor">500.0</rosparam>
        <rosparam param="$(arg sfm_params_ns)/algorithm/interaction_force_factor">1000.0</rosparam>
    </group>

    <group if="$(eval world == 'parking')">
    	<rosparam param="$(arg actor_params_ns)/inflation/bounding_type">1</rosparam>
    	<rosparam param="$(arg actor_params_ns)/inflation/circle_radius">1.0</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/world_bound_x">[+20.5, -5.5]</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/world_bound_y">[-6.0, +20.0]</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/limit_actors_workspace">false</rosparam>
        <rosparam param="$(arg sfm_params_ns)/world_dictionary/ignored_models">[ground_plane, sun]</rosparam>
        <rosparam param="$(arg sfm_params_ns)/algorithm/min_force">700.0</rosparam> <!-- to force a faster movement (lack of objects in space makes people walking slowly) -->
    </group>

    <group if="$(eval world == 'cafe_example_cafe_tables')"> <!-- cafe_example_vid_friendly -->

    	<!-- NoBound 
	    <rosparam param="$(arg actor_params_ns)/inflation/bounding_type">3</rosparam>
		-->
		<rosparam param="$(arg actor_params_ns)/inflation/bounding_type">3</rosparam>
		<rosparam param="$(arg actor_params_ns)/inflation/circle_radius">1.3</rosparam>
		

	    <rosparam param="$(arg actor_params_ns)/general/world_bound_x">[+3.30, -2.70]</rosparam>
	    <rosparam param="$(arg actor_params_ns)/general/world_bound_y">[-9.60, +3.20]</rosparam>
	    <rosparam param="$(arg actor_params_ns)/general/limit_actors_workspace">false</rosparam>
	    <rosparam param="$(arg sfm_params_ns)/world_dictionary/ignored_models">[ground_plane, sun, cafe]</rosparam>
	    <rosparam param="$(arg sfm_params_ns)/algorithm/min_force">650.0</rosparam>
    </group>

    <group if="$(eval world == 'inflation_comparison')">
	    <rosparam param="$(arg actor_params_ns)/inflation/bounding_type">2</rosparam>
	    <rosparam param="$(arg actor_params_ns)/general/world_bound_x">[+3.80, -3.20]</rosparam>
	    <rosparam param="$(arg actor_params_ns)/general/world_bound_y">[-10.20, +3.80]</rosparam>
	    <rosparam param="$(arg actor_params_ns)/general/limit_actors_workspace">false</rosparam>
	    <rosparam param="$(arg sfm_params_ns)/world_dictionary/ignored_models">[ground_plane, sun, cafe]</rosparam>
	    <rosparam param="$(arg sfm_params_ns)/algorithm/min_force">500.0</rosparam>
    </group>    

</launch>
