<?xml version="1.0"?>

<launch>
    
    <!-- <env name="GAZEBO_PLUGIN_PATH" value="$(find actor_plugin_social)/lib:$(optenv GAZEBO_PLUGIN_PATH)"/> -->
    
    <env name="GAZEBO_PLUGIN_PATH" value="$(find actor_plugin_social)/lib:$(find social_force_vis)/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>
    
    <!-- ====================== default values for parameters ================================== -->
    <arg name="world" default="cafe_example"/>
    <arg name="world_file"  default="$(find actor_sim_utils)/worlds/$(arg world).world"/>
    <arg name="gui" default="true"/>
    <arg name="rviz" default="true"/>

    <arg name="actor_params_ns" default="/gazebo/actor_plugin_ros_interface/actor"/>
    <arg name="sfm_params_ns" default="/gazebo/actor_plugin_ros_interface/sfm"/>

    <!-- ========================= start Gazebo Server ========================================= -->
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" output="screen"
        args="$(arg world_file)" />

    <!-- =============================== start rViz ============================================ -->
    <group if="$(arg rviz)">
    	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find social_force_vis)/rviz/debug3_group.rviz"/>
    </group>
    
    <!-- ========================= start Gazebo Client ========================================= -->
    <group if="$(arg gui)">
        <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" args="--verbose" respawn="false" output="screen"/>
    </group>

    <!-- 
    <rosparam file="$(find actor_sim_utils)/config/actor_param.yaml" command="load" ns="/gazebo/actor_plugin_ros_interface/actor"/>
    -->
    <rosparam file="$(find actor_sim_utils)/config/sfm_param.yaml"   command="load" ns="$(arg sfm_params_ns)"/>
    

    <group if="$(eval world == 'living_room')">
        <rosparam file="$(find actor_sim_utils)/config/actor_param_living.yaml" command="load" ns="$(arg actor_params_ns)"/>
        <rosparam param="$(arg actor_params_ns)/general/world_bound_x">[+7.80, -5.00]</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/world_bound_y">[-5.70, +5.70]</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/limit_actors_workspace">false</rosparam>
    </group>

    <group if="$(eval world == 'parking')">
        <rosparam file="$(find actor_sim_utils)/config/actor_param_parking.yaml" command="load" ns="$(arg actor_params_ns)"/>
        <rosparam param="$(arg actor_params_ns)/general/world_bound_x">[+21.5, -6.5]</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/world_bound_y">[-7.0, +21.0]</rosparam>
        <rosparam param="$(arg actor_params_ns)/general/limit_actors_workspace">true</rosparam>
        <rosparam param="$(arg sfm_params_ns)/algorithm/min_force">1000.0</rosparam> <!-- to force faster movement (lack of objects makes people walking slowly) -->
    </group>

</launch>
