<launch>

  <!-- make sure to add TURTLEBOT3_MODEL env variable to the `~/.bashrc` file; simply add this line to the end of the file:
  export TURTLEBOT3_MODEL=burger # Turtlebot3 model
  -->
  <arg name="world" default="living_room_vid_friendly"/>  <!-- cafe_example -->
  <arg name="slam_method" default="gmapping"/>
  <arg name="rviz_slam" default="true"/>
  
  <arg name="model" default="burger" doc="model type [burger, waffle, waffle_pi]"/> <!-- default="$(env TURTLEBOT3_MODEL)" -->
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <!-- world containing people -->
  <include file="$(find actor_sim_utils)/launch/example_full.launch"> 
    <arg name="world" value="$(arg world)"/>
    <arg name="rviz" default="false"/>
  </include>

  <!-- robot spawn -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />

  <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="slam_methods" value="$(arg slam_method)"/>
    <arg name="open_rviz" value="$(arg rviz_slam)"/>
  </include>

  <!-- robot control -->
  <node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering" />
  
</launch>

