<?xml version="1.0"?>

<launch>
    <env name="GAZEBO_PLUGIN_PATH" value="$(find hubero_gazebo)/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>
    <!-- TODO world - map tf parameter is required -->

    <!-- ====================== default values for parameters ================================== -->
    <arg name="world"       default="cafe_example"/>
    <arg name="world_file"  default="$(find hubero_bringup_gazebo_ros)/worlds/$(arg world).world"/>
    <arg name="map_file"    default="$(find hubero_bringup_gazebo_ros)/maps/$(arg world).yaml"/>
    <arg name="gui"         default="true"/>
    <arg name="rviz"        default="true"/>
    <arg name="gdb"         default="false"/>

    <!-- ========================= launch world (Gazebo server and GUI) ========================================= -->

    <!-- normal operation without debugger -->
    <group unless="$(arg gdb)">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world_file)"/>
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
            <arg name="verbose" value="true"/>
        </include>
    </group>

    <!-- execute when gzserver started by, e.g., Eclipse IDE -->
    <group if="$(arg gdb)">
        <!-- set use_sim_time flag
        **** NOTE: THIS PARAMETER IS BY DEFAULT SET IN empty_world.launch BUT CAUSES MAP_SERVER/COSTMAP TO CRASH when GDB is true ****
        <param name="/use_sim_time" value="true"/> -->

        <!-- start gazebo client -->
        <group if="$(arg gui)">
            <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" args="--verbose"/>
        </group>
    </group>

    <!-- =============================== start rViz ============================================ -->
    <group if="$(arg rviz)">
    	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find actor_sim_utils)/rviz/actor_groups_map_costmap_ext_vis.rviz"/>
    </group>

    <!-- ============================== load map =========================================== -->
    <!-- Map server starts to provide a shared static map topic for all actors -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" />

    <!-- ============================== load params =========================================== -->
    <rosparam file="$(find hubero_ros)/config/params_common.yaml" command="load" />

    <!-- ===================== activities specific to the selected world ====================== -->
    <group if="$(eval world == 'parking')">
        <include file="$(find hubero_ros)/launch/actor.launch">
            <arg name="actor_name" value="actor1"/>
        </include>
        <include file="$(find hubero_ros)/launch/actor.launch">
            <arg name="actor_name" value="actor2"/>
        </include>
        <include file="$(find hubero_ros)/launch/actor.launch">
            <arg name="actor_name" value="actor3"/>
        </include>
        -->
        <include file="$(find hubero_ros)/launch/actor.launch">
            <arg name="actor_name" value="actor4"/>
        </include>
    </group>
</launch>
