<?xml version="1.0"?>

<launch>
    <!-- first, make HuBeRo actor control plugin visible for Gazebo -->
    <env name="GAZEBO_PLUGIN_PATH" value="$(find hubero_gazebo)/lib:$(optenv GAZEBO_PLUGIN_PATH)"/>

    <!-- ====================== default values for parameters ================================== -->
    <arg name="world"       default="cafe_example"/>
    <arg name="world_file"  default="$(find hubero_bringup_gazebo_ros)/worlds/$(arg world).world"/>
    <arg name="map_file"    default="$(find hubero_bringup_gazebo_ros)/maps/$(arg world).yaml"/>
    <arg name="gui"         default="true"/>
    <arg name="rviz"        default="true"/>
    <arg name="gdb"         default="false"/>

    <!-- Namespace where communication channels (nodes) of simulated actors will be available -->
    <arg name="main_ns" default="hubero"/>

    <!-- Actor's map center pose relative to the world center pose -->
    <arg name="tf_world_map" default="+0.00 +0.00 +0.00 +0.00 +0.00 +0.00"/>
    <arg name="shared_map" default="true"/>
    <arg name="map_frame" default="map"/>
    <!-- Name of the frame used as a reference in simulator poses etc. usually, frame at the top of the ROS TF tree -->
    <arg name="simulator_global_frame" default="world"/>

    <!-- ========================= launch world (Gazebo server and GUI) ========================================= -->

    <!-- normal operation without debugger -->
    <group unless="$(arg gdb)">
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
            <arg name="world_name" value="$(arg world_file)"/>
            <arg name="paused" value="false"/>
            <arg name="use_sim_time" value="true"/>
            <arg name="gui" value="true"/>
            <arg name="headless" value="false"/>
            <arg name="debug" value="false"/>
            <arg name="verbose" value="true"/>
        </include>
    </group>

    <!-- execute when gzserver started by, e.g., Eclipse IDE -->
    <group if="$(arg gdb)">
        <!-- set use_sim_time flag
        **** NOTE: THIS PARAMETER IS BY DEFAULT SET IN empty_world.launch BUT CAUSES MAP_SERVER/COSTMAP TO CRASH when GDB is true ****
        <param name="/use_sim_time" value="true"/> -->

        <!-- start gazebo client -->
        <group if="$(arg gui)">
            <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" args="--verbose"/>
        </group>
    </group>

    <!-- =============================== start rViz ============================================ -->
    <group if="$(arg rviz)">
        <include file="$(find hubero_bringup_gazebo_ros)/launch/rviz.launch"/>
    </group>

    <!-- ============================== load map & static TF ================================== -->
    <group if="$(eval arg('shared_map') == true)">
        <!-- Map server starts to provide a shared static map topic for all actors -->
        <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen">
            <param name="frame_id" value="$(arg map_frame)"/>
        </node>
        <!-- Start world-map (shared frame) static TF broadcast -->
        <node name="world_map_tf_static" pkg="tf" type="static_transform_publisher" ns="$(arg main_ns)" args="$(arg tf_world_map) $(arg simulator_global_frame) $(arg map_frame) 50"/>
    </group>

    <!-- ============================== load params =========================================== -->
    <rosparam file="$(find hubero_ros)/config/params_common.yaml" command="load" />

    <!-- ===================== activities specific to the selected world ====================== -->
    <group if="$(eval world == 'parking')">
        <arg name="map_bounds" default="[-6.90, 22.06, -7.45, 21.74]"/>
            <arg name="actor_name" value="actor1"/>
        </include>
        <include file="$(find hubero_ros)/launch/actor.launch">
            <arg name="actor_name" value="actor2"/>
        </include>
        <include file="$(find hubero_ros)/launch/actor.launch">
            <arg name="actor_name" value="actor3"/>
        </include>
        -->
        <include file="$(find hubero_ros)/launch/actor.launch">
            <arg name="actor_name" value="actor4"/>
            <arg name="main_ns" value="$(arg main_ns)"/>
            <arg name="map_file" value="$(arg map_file)"/>
            <arg name="use_shared_map" value="$(arg shared_map)"/>
            <arg name="map_frame" value="$(arg map_frame)"/>
            <arg name="simulator_global_frame" value="$(arg simulator_global_frame)"/>
            <!-- passing 'tf_world_map' is excessive when 'shared_map' is set to true -->
            <arg name="tf_world_map" value="$(arg tf_world_map)"/>
            <arg name="map_bounds" value="$(arg map_bounds)"/>
        </include>
    </group>
</launch>
