<?xml version="1.0"?>
<launch>
    <arg name="tf_lidar" default="0 0 0 0 0 0"/>
    <arg name="tf_camera" default="0 0 0 0 0 0"/>

    <arg name="base_frame" default="base_footprint"/>
    <arg name="lidar_frame" default="base_laser_link"/>
    <arg name="camera_frame" default="base_camera_link"/>

    <!-- publishing frequency of the static TF -->
    <arg name="sensor_tf_freq" default="20"/>

    <!-- run node that publishes static transform between actor body and sensor -->
    <node name="tf_static_lidar"  pkg="tf" type="static_transform_publisher" args="$(arg tf_lidar)  $(arg base_frame) $(arg lidar_frame)  $(arg sensor_tf_freq)"/>
    <node name="tf_static_camera" pkg="tf" type="static_transform_publisher" args="$(arg tf_camera) $(arg base_frame) $(arg camera_frame) $(arg sensor_tf_freq)"/>
</launch>
