<launch>

	<arg name="world_map_tf" default="0 0 0 0 0 0"/>
	<arg name="node_name" default="actor_global_planner"/>

	<!-- NOTE: it must match the private node handle's namespace which is defined in actor::ros_interface::node (with `gazebo` added in front) -->
	<arg name="srv_ns" default="/gazebo/actor_plugin_ros_interface"/>

	<node name="$(arg node_name)_tf_static" pkg="tf" type="static_transform_publisher" 	args="$(arg world_map_tf) world map 100" />

	<rosparam command="load" file="$(find actor_global_plan)/config/global_planner.yaml" 	ns="/$(arg node_name)/global_planner" />
	<rosparam command="load" file="$(find actor_global_plan)/config/global_costmap.yaml" 	ns="/$(arg node_name)/gcm" />
	<rosparam command="load" file="$(find actor_global_plan)/config/inflation_layer.yaml" 	ns="/$(arg node_name)/gcm/inflation_layer" />
	<rosparam command="load" file="$(find actor_global_plan)/config/static_map_layer.yaml" 	ns="/$(arg node_name)/gcm/static_layer" />

	<node name="$(arg node_name)" pkg="actor_global_plan" type="actor_global_plan" args="$(arg srv_ns) $(arg node_name)" output="screen" />

</launch>